#textarea{
  width: 100%;
}

@media (max-width: 570px){
  button.btn.mx-1 {
    flex-basis: 50%;
    max-width: 47%;
    min-width: 47% !important;
    margin: 10px 0px !important;
    font-size: 15px;
}
.buttons.mt-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
}